html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.container {
    margin: 0 auto;
    max-width: 90rem;
    padding: 0 clamp(1rem, 5vw, 3rem);
    width: 100%;
    overflow: hidden;
}

.page-content {
    padding-top: 5.1428571429rem;
}
.easter-egg {
  position: absolute;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  font-size: 0.75rem;
  color: var(--text-medium);

  // Make it visible when text is selected
  &::selection {
      opacity: 1;
      color: var(--text-accent);
  }
}