html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.container {
    margin: 0 auto;
    max-width: 90rem;
    padding: 0 clamp(1rem, 5vw, 3rem);
    width: 100%;
    overflow: hidden;
}
