footer
    .container
        new Date().getFullYear()>2010&&document.write("<p>© "+new Date().getFullYear() +", Kyle Kochanek. <span class='secondary--text'>Built with ❤️, caffeine & the occasional input from a few strict art directors...aka my kids</span></p>");