nav
    .nav-container
        ul#nav-menu
            li
                a(href="/") Home
            li
                a(href="/pages/about.html") About
            li
                a(href="/pages/work.html") Work
            li
                a(href="#" target="_blank") Resume

        button.hamburger(aria-label="Menu" type="button")
            span
            span
            span
