nav
    .nav-container
        ul#nav-menu
            li
                .nav-link-wrapper
                    a(href="/" class=currentPage === 'home' ? 'active' : '') Home
            li
                .nav-link-wrapper
                    a(href="/pages/about.html" class=currentPage === 'about' ? 'active' : '') About
            li
                .nav-link-wrapper
                    a(href="/pages/work" class=currentPage === 'work' ? 'active' : '') Work
            li
                .nav-link-wrapper
                    a(href="#" target="_blank") Resume

        button.hamburger(aria-label="Menu" type="button")
            span
            span
            span
