extends main

block variables
    - var title = title || 'Untitled Project'
    - var company = company || ''
    - var date = date || ''
    - var tags = tags || []
    - var content = content || ''

block content
    article.work-item
        header.work-item__header
            h1= title
            .work-item__meta
                if company
                    span.company= company
                if date
                    span.date= date
                if tags && tags.length > 0
                    .tags
                        each tag in tags
                            span.tag= tag

        .work-item__content
            != content
