extends ../layouts/main

block variables
    - var currentPage = 'about'

block title
    title About - Kyle Kochanek

block content
    section.about
        h1 About Me
        //- About page content...