extends ../layouts/main

block content
    header.hero
        .content-wrapper
            .hero__content
                .heading-group
                    svg(width="2.5rem" height="2.5rem")
                        circle(cx="50%" cy="50%" r="50%" fill="currentColor")
                    h1 I'm Kyle,
                h2.h4 I'm what happens when you merge the #[span.text-creative creative] & #[span.text-logical logical] branches without #[span.text-personality resolving] conflicts.
                p Features include pixel-perfect design, clean code commits, vector illustrations, and an unhealthy obsession with design tokens.

            .hero__media
                img(src="/assets/images/hero-image.svg" alt="Descriptive alt text")
                .hero__media-info
                    .hero__media-info-block
                        h3 Previously
                        p Roadtrippers, Roadpass
                    .hero__media-info-block
                        h3 @ Now
                        p PokerAtlas

    main
        section.typography-test
            h2 Typography
                span.italic Test
                |  Content

            .text-block
                p This is a paragraph of text. It demonstrates the body copy style. The quick brown fox jumps over the lazy dog. Pack my box with five dozen liquor jugs.
                p Here's another paragraph to show spacing between paragraphs. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

            .text-with-heading
                h3 Section Heading
                p This shows how a heading looks when paired with body text. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

            .list-examples
                h4 List Styles
                ul
                    li Unordered list item 1
                    li Unordered list item 2
                    li Unordered list item 3
                ol
                    li Ordered list item 1
                    li Ordered list item 2
                    li Ordered list item 3

            .quote-block
                blockquote "This is a blockquote. It can be used to highlight important text or quotations from other sources."
                cite - Citation Example

            .text-emphasis
                p This paragraph contains
                    em emphasized text
                    |  and
                    strong strong text
                    |  to show how inline styles appear.

            .link-styles
                p Here's an example of a
                    a(href="#") link style
                    |  within a paragraph of text.

            .text-sizes
                p.text-small This is small text.
                p.text-large This is large text.
                p.text-xl This is extra large text.