@mixin section-logo-colors {
    &.home .nav-logo a {
        color: mix($text-default, $text-accent, 85%);
        [data-theme="light"] & {
            color: mix($text-default-contrast, $text-accent-light, 85%);
        }
    }

    &.section-work .nav-logo a {
        color: mix($text-default, $text-creative, 85%);
        [data-theme="light"] & {
            color: mix($text-default-contrast, $text-creative-light, 85%);
        }
    }

    &.section-about .nav-logo a {
        color: mix($text-default, $text-personality, 85%);
        [data-theme="light"] & {
            color: mix($text-default-contrast, $text-personality-light, 85%);
        }
    }

    &.section-contact .nav-logo a {
        color: mix($text-default, $text-logical, 85%);
        [data-theme="light"] & {
            color: mix($text-default-contrast, $text-logical-light, 85%);
        }
    }
}