{{ define "main" }}
<article class="work-item">
    {{ partial "work-hero.html" . }}

    <div class="content-wrapper">
        <div class="work-item__content">
            {{ if (fileExists (printf "content/%simages" .File.Dir)) }}
                {{ partial "quick-view.html" . }}
            {{ end }}

            {{ .Content }}
        </div>

        {{ if (fileExists (printf "content/%simages" .File.Dir)) }}
            <div class="work-item__gallery">
                <h2>Project Gallery</h2>
                {{ partial "image-grid.html" . }}
            </div>
        {{ end }}

        {{ partial "related-projects.html" . }}
    </div>
</article>
{{ end }}