.header-hero-art {
  display: flex;
align-items: center;
position: absolute;
width: 80%;
}

.footer-hero-art {
  display: flex;
padding: 384px 10.297px 0px 0px;
align-items: center;
position: absolute;
bottom: 0px;
width: 100%;
}