{{ define "main" }}
<section class="work-section page-content">
  {{ .Content }}

    {{ $featured := where .Pages "Params.featured" true }}
    {{ with $featured }}
    <div class="featured-work">
        <!-- <h2>Featured Work</h2> -->
        <div class="work-grid">
            {{ range . }}
                {{ partial "work-card.html" . }}
            {{ end }}
        </div>
    </div>
    {{ end }}

    <div class="work-grid">
        {{ range where .Pages "Params.featured" "!=" true }}
            {{ partial "work-card.html" . }}
        {{ end }}
    </div>
</section>
{{ end }}