<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    {{ partial "head.html" . }}
</head>
<body>
    {{ partial "nav.html" . }}

    <main class="content-wrapper transitioning">
        {{ block "main" . }}{{ end }}
    </main>

    {{ partial "footer.html" . }}

    {{ $js := resources.Get "js/nav.js" | resources.Minify }}
    {{ $transition := resources.Get "js/transition.js" | resources.Minify }}
    <script src="{{ $js.RelPermalink }}"></script>
    <script src="{{ "js/theme.js" | absURL }}"></script>
    <script src="{{ $transition.RelPermalink }}"></script>
    {{ $lightbox := resources.Get "js/lightbox.js" | resources.Minify }}
    <script src="{{ $lightbox.RelPermalink }}"></script>
    {{ partial "svg-sprites.html" . }}
</body>
</html>

