<a href="{{ .RelPermalink }}" class="related-card">
    <div class="related-card__media">
        {{ if .Params.thumbnail }}
            {{ if .Resources }}
                {{ $thumbnail := .Resources.GetMatch .Params.thumbnail }}
                {{ with $thumbnail }}
                    {{ $thumb := .Resize "400x webp q90" }}
                    <img src="{{ $thumb.RelPermalink }}" alt="{{ $.Title }}">
                {{ end }}
            {{ else }}
                <img src="{{ .Params.thumbnail }}" alt="{{ $.Title }}">
            {{ end }}
        {{ end }}
    </div>
    <span class="related-card__title">{{ .Params.smTitle | default .Title }}</span>
</a>