<a class="work-card" href="{{ .RelPermalink }}">
    <div class="work-card__media">
        {{ if .Params.thumbnail }}
            {{ if .Resources }}
                {{ $thumbnail := .Resources.GetMatch .Params.thumbnail }}
                {{ with $thumbnail }}
                    {{ $tiny := .Resize "20x webp q90" }}
                    {{ $small := .Resize "600x webp q90" }}
                    {{ $medium := .Resize "1200x webp q90" }}

                    {{ $tiny_fallback := .Resize "20x jpg q90" }}
                    {{ $small_fallback := .Resize "600x jpg q90" }}
                    {{ $medium_fallback := .Resize "1200x jpg q90" }}

                    <picture>
                        <source
                            srcset="{{ $tiny.RelPermalink }} 20w,
                                    {{ $small.RelPermalink }} 600w,
                                    {{ $medium.RelPermalink }} 1200w"
                            sizes="(max-width: 600px) 100vw,
                                   (max-width: 1200px) 85vw,
                                   600px"
                            type="image/webp"
                        >
                        <source
                            srcset="{{ $tiny_fallback.RelPermalink }} 20w,
                                    {{ $small_fallback.RelPermalink }} 600w,
                                    {{ $medium_fallback.RelPermalink }} 1200w"
                            sizes="(max-width: 600px) 100vw,
                                   (max-width: 1200px) 85vw,
                                   600px"
                            type="image/jpeg"
                        >
                        <img
                            src="{{ $small_fallback.RelPermalink }}"
                            alt="{{ $.Title }} - {{ $.Params.company }} project thumbnail"
                            loading="lazy"
                            decoding="async"
                            width="{{ $small.Width }}"
                            height="{{ $small.Height }}"
                        >
                    </picture>
                {{ end }}
            {{ else }}
                <img
                    src="{{ .Params.thumbnail }}"
                    alt="{{ $.Title }} - {{ $.Params.company }} project thumbnail"
                    loading="lazy"
                    decoding="async"
                >
            {{ end }}
        {{ end }}
    </div>
    <div class="work-card__content">
        <h3>{{ .Title }}</h3>
        {{ with .Params.company }}<p class="company">{{ . }}</p>{{ end }}
        <p class="work-card__description">{{ .Params.seo_description }}</p>
        {{ with .Params.tags }}
        <div class="tags">
            {{ range . }}
            <span class="tag">{{ . }}</span>
            {{ end }}
        </div>
        {{ end }}
    </div>
</a>