<a class="work-card" href="{{ .RelPermalink }}" data-case-study="{{ .Content | plainify }}">
    <div class="work-card__media">
        {{ if .Params.thumbnail }}
            {{ if .Resources }}
                {{ $thumbnail := .Resources.GetMatch .Params.thumbnail }}
                {{ with $thumbnail }}
                    {{ $thumb := .Resize "600x webp q90" }}
                    <img src="{{ $thumb.RelPermalink }}" alt="{{ $.Title }}">
                {{ end }}
            {{ else }}
                <img src="{{ .Params.thumbnail }}" alt="{{ $.Title }}">
            {{ end }}
        {{ end }}
    </div>
    <div class="work-card__content">
        <h3>{{ .Title }}</h3>
        {{ with .Params.company }}<p class="company">{{ . }}</p>{{ end }}
        <p class="work-card__description">{{ .Params.seo_description }}</p>
        {{ with .Params.tags }}
        <div class="tags">
            {{ range . }}
            <span class="tag">{{ . }}</span>
            {{ end }}
        </div>
        {{ end }}
    </div>
</a>