// _background.scss

// Apply styles to html and body
html,
body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 96px;
  background: $surface-default-contrast;
  color: $text-default-contrast;
}
