{{ define "main" }}
<article class="work-item">
    <div class="content-wrapper">
        <div class="work-item__header">
            <h1>{{ .Title }}</h1>
            <div class="work-item__meta">
                <time class="date" datetime="{{ .Date.Format "2006-01-02" }}">
                    {{ .Date.Format "January 2, 2006" }}
                </time>
                {{ with .Params.tags }}
                <div class="tags">
                    {{ range . }}
                    <span class="tag">{{ . }}</span>
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </div>

        <div class="work-item__content">
            {{ .Content }}
        </div>
    </div>
</article>
{{ end }}